		<td colspan="5" class="row">
			<div id="Clients-name-<%%VALUE(id)%%>" class="Clients-name col-sm-12 h5 text-bold"><%%SELECT%%><%%VALUE(name)%%><%%ENDSELECT%%></div>
			<div class="col-md-3"><div id="Clients-logo-<%%VALUE(id)%%>" class="Clients-logo"><%%SELECT%%><img src="thumbnail.php?i=<%%VALUE(logo)%%>&t=Clients&f=logo&v=tv" class="img-thumbnail"><%%ENDSELECT%%></div></div>
			<div class="col-md-9">				<dl class="dl-horizontal no-caption">
					<dt class="Clients-endpoints-caption field-caption-tv">Endpoints</dt>
					<dd id="Clients-endpoints-<%%VALUE(id)%%>" class="Clients-endpoints"><%%SELECT%%><%%VALUE(endpoints)%%><%%ENDSELECT%%></dd>

					<dt class="Clients-jobs-caption field-caption-tv">Jobs</dt>
					<dd id="Clients-jobs-<%%VALUE(id)%%>" class="Clients-jobs"><%%SELECT%%><%%VALUE(jobs)%%><%%ENDSELECT%%></dd>

					<dt class="Clients-destinations-caption field-caption-tv">Destinations</dt>
					<dd id="Clients-destinations-<%%VALUE(id)%%>" class="Clients-destinations"><%%SELECT%%><%%VALUE(destinations)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
