<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the Endpoints_init() hook (in hooks/Endpoints.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="Endpoints-hostname-<%%VALUE(id)%%>" class="Endpoints-hostname"><%%SELECT%%><%%VALUE(hostname)%%><%%ENDSELECT%%></td>
		<td id="Endpoints-notes-<%%VALUE(id)%%>" class="Endpoints-notes"><%%SELECT%%><%%VALUE(notes)%%><%%ENDSELECT%%></td>
		<td id="Endpoints-clientid-<%%VALUE(id)%%>" class="Endpoints-clientid"><%%SELECT%%><%%VALUE(clientid)%%><%%ENDSELECT%%></td>
