		<td colspan="9" class="row">
			<div class="col-md-3"><div id="Log-screenshot-<%%VALUE(id)%%>" class="Log-screenshot"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(screenshot)%%>" data-lightbox="Log-screenshot"><img src="thumbnail.php?i=<%%VALUE(screenshot)%%>&t=Log&f=screenshot&v=tv" class="img-thumbnail"></a></div></div>
			<div class="col-md-9">				<dl class="dl-horizontal">
					<dt class="Log-date-caption field-caption-tv">Date</dt>
					<dd id="Log-date-<%%VALUE(id)%%>" class="Log-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></dd>

					<dt class="Log-user-caption field-caption-tv">User</dt>
					<dd id="Log-user-<%%VALUE(id)%%>" class="Log-user"><%%SELECT%%><%%VALUE(user)%%><%%ENDSELECT%%></dd>

					<dt class="Log-client-caption field-caption-tv">Client</dt>
					<dd id="Log-client-<%%VALUE(id)%%>" class="Log-client"><%%SELECT%%><%%VALUE(client)%%><%%ENDSELECT%%></dd>

					<dt class="Log-endpoint-caption field-caption-tv">Endpoint</dt>
					<dd id="Log-endpoint-<%%VALUE(id)%%>" class="Log-endpoint"><%%SELECT%%><%%VALUE(endpoint)%%><%%ENDSELECT%%></dd>

					<dt class="Log-job-caption field-caption-tv">Job</dt>
					<dd id="Log-job-<%%VALUE(id)%%>" class="Log-job"><%%SELECT%%><%%VALUE(job)%%><%%ENDSELECT%%></dd>

					<dt class="Log-status-caption field-caption-tv">Status</dt>
					<dd id="Log-status-<%%VALUE(id)%%>" class="Log-status"><%%SELECT%%><%%VALUE(status)%%><%%ENDSELECT%%></dd>

					<dt class="Log-results-caption field-caption-tv">Results</dt>
					<dd id="Log-results-<%%VALUE(id)%%>" class="Log-results"><%%SELECT%%><%%VALUE(results)%%><%%ENDSELECT%%></dd>

					<dt class="Log-notes-caption field-caption-tv">Notes</dt>
					<dd id="Log-notes-<%%VALUE(id)%%>" class="Log-notes"><%%SELECT%%><%%VALUE(notes)%%><%%ENDSELECT%%></dd>

				</dl>
			</div>
		</td>
