		<td colspan="9" class="row">
			<div class="col-md-3"><div id="Log-screenshot-<%%VALUE(id)%%>" class="Log-screenshot"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(screenshot)%%>" data-lightbox="Log-screenshot"><img src="thumbnail.php?i=<%%VALUE(screenshot)%%>&t=Log&f=screenshot&v=tv" class="img-thumbnail"></a></div></div>
			<div class="col-md-9">				<dl class="dl-horizontal">
					<dt class="Log-date-caption field-caption-tv">Date</dt>
					<dd id="Log-date-<%%VALUE(id)%%>" class="Log-date"><%%VALUE(date)%%></dd>

					<dt class="Log-user-caption field-caption-tv">User</dt>
					<dd id="Log-user-<%%VALUE(id)%%>" class="Log-user"><%%VALUE(user)%%></dd>

					<dt class="Log-client-caption field-caption-tv">Client</dt>
					<dd id="Log-client-<%%VALUE(id)%%>" class="Log-client"><%%VALUE(client)%%></dd>

					<dt class="Log-endpoint-caption field-caption-tv">Endpoint</dt>
					<dd id="Log-endpoint-<%%VALUE(id)%%>" class="Log-endpoint"><%%VALUE(endpoint)%%></dd>

					<dt class="Log-job-caption field-caption-tv">Job</dt>
					<dd id="Log-job-<%%VALUE(id)%%>" class="Log-job"><%%VALUE(job)%%></dd>

					<dt class="Log-status-caption field-caption-tv">Status</dt>
					<dd id="Log-status-<%%VALUE(id)%%>" class="Log-status"><%%VALUE(status)%%></dd>

					<dt class="Log-results-caption field-caption-tv">Results</dt>
					<dd id="Log-results-<%%VALUE(id)%%>" class="Log-results"><%%VALUE(results)%%></dd>

					<dt class="Log-notes-caption field-caption-tv">Notes</dt>
					<dd id="Log-notes-<%%VALUE(id)%%>" class="Log-notes"><%%VALUE(notes)%%></dd>

				</dl>
			</div>
		</td>
